.footer{
	     background-color:#dae0e5;
		 margin:0 0 ;
		 padding: 1px 0px;
         margin: -15px 0;
		 font-size:16px;
		 border:2px #dae0e5;

}

.nav-item {
             text-align:center;	
	
	
	
	
	
	
}